html,
body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom,
            #75c0ff,
            #b8ebc9);
    /* Gradient from top to bottom */
    background-repeat: no-repeat;
    overflow: hidden;
}

main {
    text-align: center;
}

header {
    margin: 1rem;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.home-button {
    background-image: url("../icons/Cloud.png");
    background-repeat: no-repeat;
    width: 92px;
    display: flex;
    justify-content: center;
    justify-items: center;
}


.home-button-text {
    margin: auto;
    color: #ffc8a2;

    text-shadow: 0px 2px 1.1px rgba(0, 0, 0, 0.25);
    font-family: "Simply Rounded";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
    padding-bottom: 8px;
    padding-top: 8px;
}

.nav-bar>li {
    color: #b9dfff;
    text-align: center;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    font-family: "Proxima Nova";
    /*TODO: change*/
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.44px;
}

.animated-element {
    position: relative;
    display: inline-block;
    justify-items: center;
    justify-content: center;
}

.sun {
    position: relative;
    width: 350px;
    height: 350px;
    max-width: 90vw;
    max-height: 90vw;
}

.absolute-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 10;
    /* Putting text above everything else */
    text-align: center;
    pointer-events: none;
}

.cloud-text {
    position: absolute;
    top: 43%;
    left: 20%;
    color: #a45b8a;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    font-family: "Simply Rounded";
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    z-index: 6;
}

#star {
    -webkit-animation: reverse-spin 90s linear infinite;
    -moz-animation: reverse-spin 90s linear infinite;
    animation: reverse-spin 90s linear infinite;
}

#star-bckg {
    -webkit-animation: spin 180s linear infinite;
    -moz-animation: spin 180s linear infinite;
    animation: spin 180s linear infinite;
}

#star,
#star-bckg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cloud-plus {
    top: 10px;
    position: absolute;
    left: 4rem;
    z-index: 5;
}

#cloud-challenge {
    top: 0;
    position: absolute;
    left: 0;
    z-index: 5;
}

#cloud-seconds {
    position: absolute;
    top: 5rem;
    right: 0;
    z-index: 5;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes reverse-spin {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@-moz-keyframes reverse-spin {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes reverse-spin {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}